.hero_section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    gap: 10rem;
    background-image: radial-gradient(circle at 100% 100%, #434343 10rem, #131313 30rem, #000000 40rem);
    min-height: calc(100vh - 10rem);

    &>.hero_img {
        height: 100%;
        &>img {
            height: 600px;
            object-fit: cover;
        }
    }

    &>.hero_text{
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .p1{
            font-size: 50px;
            color: #d6d6d6;
        }
    
        .p2{
            font-size: 30px;
            margin-top: 2rem;
            color: #727272;
            
        }
    }

    @media screen and (max-width: 1350px) {
        
        &>.hero_text {

            .p1 {
                font-size: 40px;
            }
            .p2 {
                font-size: 30px;
            } 
        }

        &>.hero_img {

            &>img {
                height: 500px;  
            }
        }
    }

    @media screen and (max-width: 1150px) {
        
        &>.hero_text {

            .p1 {
                font-size: 35px;
            }
            .p2 {
                font-size: 25px;
            } 
        }

        &>.hero_img {

            &>img {
                height: 400px;  
            }
        }
    }

    @media screen and (max-width: 1000px) {
        
        &>.hero_text {

            .p1 {
                font-size: 30px;
            }
            .p2 {
                font-size: 20px;
            } 
        }

        &>.hero_img {

            &>img {
                height: 350px;  
            }
        }
    }

    @media screen and (max-width: 875px) {
        
        &>.hero_text {

            .p1 {
                font-size: 25px;
            }
            .p2 {
                font-size: 15px;
            } 
        }

        &>.hero_img {

            &>img {
                height: 300px;  
            }
        }
    }

    @media screen and (max-width: 875px) {
        padding: 0 10rem;
        &>.hero_text {

            .p1 {
                font-size: 20px;
            }
            .p2 {
                font-size: 15px;
            } 
        }

        &>.hero_img {

            &>img {
                height: 300px;  
            }
        }
    }

    @media screen and (max-width: 750px) {
        padding: 0 7rem;
    }

    @media screen and (max-width: 650px) {
        padding: 0 5rem;
    }

    @media screen and (max-width: 550px) {
        padding: 0 4rem;
        padding-bottom: 2rem;
        flex-direction: column-reverse;
        justify-content: center;
        
        &>.hero_text {
            text-align: center;
            .p1 {
                font-size: 25px;
            }
            .p2 {
                font-size: 20px;
            } 
        }

        &>.hero_img {
            &>img {
                height: 350px;  
            }
        }
    }
}
