.hero_section{
    margin: 0 auto;
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    gap: 10rem;
    background-image: radial-gradient(circle at 100% 100%, #434343 5%, #131313 25%, #000000 50%);
    // height: 100vh;

    &>.hero_img {
        height: 100%;
        padding: 10rem;
        &>img {
            height: 700px;
            object-fit: cover;
        }
    }

    &>.hero_text{
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .p1{
            font-size: 5rem;
            color: #d6d6d6;
        }
    
        .p2{
            font-size: 3rem;
            margin-top: 2rem;
            color: #727272;
    
        }
    }
}










