@import "../../theme/palette.scss";

.wrapper {
    background-image: radial-gradient(circle at 0% 100%, #434343 10rem, #131313 30rem, #000000 40rem);
    
    &>.batches_container {
        background-image: radial-gradient(circle at 100% 0%, #434343 10rem, #131313 30rem, transparent 40rem);
        min-height: 100vh;
        padding-top: 3rem;
        padding: 0 3rem;
        padding-bottom: 8rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        &>.main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10rem;
            padding-top: 4rem;
        }
    
    
        &>.title_container {
            width: 100%;
            display: flex;
            justify-content: center;
    
            &>.title {
                padding-bottom: 2rem;
                width: 80%;
            }
        }
    }

    @media screen and (max-width: 1350px) {
        &>.main {
            padding: 4rem 15rem;
        }
    }

    @media screen and (max-width: 1150px) {
        &>.main {
            padding: 4rem 10rem;
            gap: 8rem;
        }
    }

    @media screen and (max-width: 1000px) {
        &>.main {
            padding: 4rem 8rem;
        }
    }

    @media screen and (max-width: 850px) {
        &>.main {
            padding: 4rem 7rem;
            gap: 6rem;
        }
    }

    @media screen and (max-width: 750px) {
        &>.main {
            padding: 2rem 2rem;
        }
    }
}