@import "../../theme/palette.scss";

.footer_container {
    border-top: 1px solid rgba(245,216,0,0.4);
    min-height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 4rem;
        padding: 3rem 0;
        
        &>.socials {
            display: flex;
            gap: 2rem;
            color: #cccccc !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &>.media {
                display: flex;
                flex: 0 1 auto;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: space-evenly;
            }

            &>.logo {
                width: 40%;
            }
        }

        &>.contact, &>.links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            &>.content {
                display: flex;
                flex: 0 1 auto;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 100%;

                & div:hover {
                    cursor: pointer;
                }
            }
            &>.title {
                width: 100%;
                text-align: center;
                // padding-top: 1rem;
            }
        }
    }


    @media screen and (max-width: 750px) {
        &>.main {

            &>.socials {

                &>.logo {
                    width: 100%;
                }
            }
        }
    }
}